{% extends "base.html" %}   

{% block content %}
<div class="row justify-content-md-center" style="margin-top: 70px;">
    <div class="col-md-auto ">
        {% if confirmed %}
        <div class="card text-center" style="width: 20rem;">
            <div class="card-body">
              <h4 class="text-primary card-title">Account Confirmed!</h4>
                <a class="btn btn-primary" href="#">Login</a>
            </div>
        </div>
        {% else %}
        <div class="card text-center" style="width: 20rem;">
            <div class="card-body">
                <h4 class="text-primary card-title">Invalid Token</h4>
                <a class="btn btn-primary" href="{% url 'auth:resend-email' %}?uid={{uid}}">Resend Confirmation Email</a>
            </div>
        </div>
        {% endif %}
        
    </div>
</div>
{% endblock content %}